html, body, ul {
    margin: 0;
    padding: 0;
    -webkit-user-select: none !important; 
    -moz-user-select: -moz-none !important;
    -ms-user-select: none !important;
    user-select: none !important;

}
li {list-style: none;}




.stopwatch_record_td{display: block;}
.screen { background-repeat: no-repeat; background-size: cover; width: 100vw;height: 100vh;}
/* --------------------------------------------------------------*/
#main_screen {background-image: url("/img/bg0.png");}
.app {width: 50px; height: 50px;  background-position: center; border-radius: 50%; position: relative; left: 50px;}
#clock { background-image: url("/img/clock.png"); top: 50px;background-size:85px;}
#math { background-image: url("/img/math.png"); top: 100px; background-size: 50px;}
#bg_change {background-image: url("/img/bg_change.png");top: 150px;background-size: 100px;}
.app:hover {transform: scale(1.2); transition: all 0.2s;}
.name {font-size: small; position: absolute; bottom: -15px; left: 10px;}
/* ------------------------------------------------------------ */
.clock_exit_button {width: 30px;height: 30px;background-color: red;position: absolute;top: 10px;right: 10px;font-size: 20px;line-height: 30px;text-align: center;}
#clock_screen {display:none;}
#clock_side_menu {width: 15vw; position: absolute; left: 0; top: 0; bottom: 0; background-color: rgba(14, 11, 213, 0.6);}
#clock_side_menu_ul {line-height: 40px; width: 100%; text-align: center; margin-top: 20px;font-size: larger;}
.clock_side_menu_li:hover {background-color: rgba(43, 22, 186, 0.2);}

.clock_right {width: 85vw; height: 100vh;background-size: cover; position: absolute; right: 0; bottom: 0;}
#world_map { background-image: url("/img/world.png"); height: 80vh; }
#washington {width: 5px;height: 5px;background-color: red;position: absolute;top: 130px;left: 240px;}
#washington_name {font-size: 8px;position: absolute;width: 100px;top: 140px;left: 240px;font-weight: bold;}

#clock_world {position: absolute;left: 100px;top: -100px;font-size: 30px;}
.country_dot {width: 5px;height: 5px;background-color: red;position: absolute; border-radius: 50%;}
.country_dot:hover {transform: scale(2); transition: all 0.3s;}
.country_name {font-size: 13px; position: absolute;width: 100px;font-weight: bolder;}
#korea {right: 165px;top: 170px;}
#korea_name {right: 70px; top: 180px;}
#newyork {left: 260px;top: 120px;}
#newyork_name {left: 260px;top: 125px;}
#china {right: 210px;top: 130px;}
#china_name {right: 120px;top: 140px;}
#paris {left: 510px;top: 130px;}
#paris_name {left: 510px;top: 135px;}
/* #world_clock {position: absolute;} */
#change_country {position: absolute; top: 0; right: 100px;}

#timer {background-color: rgb(173, 213, 200); display: none;}
#timer_circle { font-size: 40px; width: 300px;height: 300px;border-radius: 50%; background-color: rgb(102, 110, 215);line-height: 300px;text-align: center; position: absolute; left: 0; right: 0; top: 0; bottom: 0;margin: auto;}
#timer_button {width: 30%; position: absolute; left: 0; right: 0; bottom: 80px; margin: auto; text-align: center; display: flex; justify-content: space-between;}
.timer_buttons {display: inline-block; background-color: rgb(87, 220, 176); width: 100px;line-height: 30px; border-radius: 15px;} 
#timer_start {width: 20%; position: absolute; left: 0; right: 0; bottom: 30px; margin: auto; text-align: center; display: flex; justify-content: space-between;}


#stopwatch {background-color: rgb(173, 213, 200); display: none;}
#stopwatch_circle {font-size: 40px; width: 300px;height: 300px;border-radius: 50%; background-color: rgb(102, 110, 215);line-height: 300px;text-align: center; position: absolute; left: 100px; top: 0; bottom: 0;margin: auto;}
#stopwatch_button {width: 30%; position: absolute; left: 90px; bottom: 80px; margin: auto; text-align: center; display: flex; justify-content: space-between;}
.stopwatch_buttons {display: inline-block; background-color: rgb(87, 220, 176); width: 150px;line-height: 40px; border-radius: 15px;} 
#stopwatch_reset {position: absolute; left: 90px; bottom: 30px; display: block; background-color: rgb(87, 220, 176); width: 30%;line-height: 40px; border-radius: 15px;text-align: center;}
#stopwatch_record_table {position: absolute; top: 50px; right: 150px; width: 30%; background-color:rgba(0, 0, 0, 0.2); }

/* --------------------------------------------------------------*/

/* #calculator {} */
#math_screen {display: none; height: 100vh;width: 100vw;background-color: yellow;}
#cla_table {position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;background-color: white;transform: scale(2.5);}


#math_side_menu {width: 15vw; position: absolute; left: 0; top: 0; bottom: 0; background-color: rgba(14, 11, 213, 0.6);}
#math_side_menu_ul {line-height: 40px; width: 100%; text-align: center; margin-top: 20px;font-size: larger;}
.math_side_menu_li:hover {background-color: rgba(43, 22, 186, 0.2);}

.math_right {width: 85vw; height: 100vh;background-size: cover; position: absolute; right: 0; bottom: 0;}


#alram {background-color: rgb(173, 213, 200); display: none; }
#alram_add {position: absolute;left: 50px;top: 10px;}
#alram_custom {width: 300px;height: 100px;background-color: #FFF;position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;display: none;}
#alram_AMPM {position: absolute;top: 0;bottom: 0;margin: auto;height: 50px;left: 20px;}
#alram_hour {position: absolute;top: 0;bottom: 0;margin: auto;height: 50px;left: 100px;line-height: 50px;text-align: center;font-size: 30px;}
#alram_min {position: absolute;top: 0;bottom: 0;margin: auto;height: 50px;left: 170px;line-height: 50px;text-align: center;font-size: 30px;}
#alram_slash {position: absolute;top: 0;bottom: 0;margin: auto;height: 50px;left: 150px;line-height: 50px;text-align: center;font-size: 30px;}
#alram_finish {position: absolute; margin: 5px;background-color: lightgreen;right: 0;bottom: 0;padding: 1px 8px;}
#alram_exit {width: 25px;height: 25px;background-color: red;text-align: center;line-height: 25px;position: absolute;right: 0;top: 0;}

#alram_list {width: 75vw;height: 90vh;position: absolute;bottom: 0;right: 0;}
#alram_td {width: 500px;}
.alram_tr {background-color: rgba(0, 0, 0, 0.6);color: white;font-size: 50px;line-height: 90px;width: 500px;position: relative;}
.alram_tr_exit {width: 20px;height: 20px;background-color: red;font-size: 16px;position: absolute;right: 0;top: 0;line-height: 20px;text-align: center;}



#calculator_record {position: absolute; left: 0; right: 0; bottom: 0; top: 0; margin: auto;width: 40vw;display: none;}
#calculator_record_table {width: 100%;}
#calculator_record_td {background-color: gray;width: 100%;}

#setting_screen {display: none;}
#setting_side_menu {width: 15vw; position: absolute; left: 0; top: 0; bottom: 0; background-color: rgba(14, 11, 213, 0.6);}
#setting_side_menu_ul {line-height: 40px; width: 100%; text-align: center; margin-top: 20px;font-size: larger;}
.setting_side_menu_li:hover {background-color: rgba(14, 11, 213, 0.2);}

#setting_right {width: 85vw; height: 100vh;background-size: cover; position: absolute; right: 0; bottom: 0;background-color: antiquewhite;}
#setting_bg_change {width: 100%;height: 100%;}
#setting_bg_change_table {width: 80%;height: 80%;position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;}
.setting_bg_change_td {display: inline-block; height: 120px;padding: 0;margin: 40px;}
.setting_bg_change_tr {display: block; width: 800px;height: 120px;margin: 0 auto;padding: 40px;}
.setting_bg_change_img {width: 160px;height: 90px;}
.setting_bg_change_name {width: 160px;text-align: center;margin-bottom: 30px;}

.setting_bg_change_td:hover {transform: scale(1.5);transition: all 0.3s;}
